<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2 style="text-align: center;">About Us</h2>
    <strong > Blog Site Using</strong>
    <ul>
      <li>Node.js</li>
      <li>Express</li>
      <li>EJS</li>
      <li>MongoDB</li>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>